  /* Expériences Professionnelles */
  .et-slide#experiences{
    padding: 0 4rem;
  }
  .et-slide#experiences h1{
    margin: 80px auto 40px auto;
  } 
.et-slide#experiences h3.intro{
 margin: 20px auto;
 max-width: 900px;
}
  .et-slide#experiences .experiences{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 900px;
  }
  .et-slide#experiences .experiences .experience{
    width: 400px;
  }
  .et-slide#experiences .experiences .experience.right-experience{
    margin-top: 43px;
  }
  .et-slide#experiences .experiences .experience .poste{
    text-align: start;
    padding: 10px;
    
  }
  .et-slide#experiences .experiences .experience .poste .duree{
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   font-style: italic;
  }
  .et-slide#experiences .experiences .experience .entreprise{
    display: flex;
    align-items: center;
    gap: 20px;
    }
    .et-slide#experiences .experiences .experience .poste h3{
        text-align: start;
        color: rgb(37, 99, 235);
        font-size: 1.1rem;
        letter-spacing: 0.1rem;
        /********************** l'animation *******************************/
        opacity: 0;
        transform: translate(50px);
        transition: opacity 0.2s ease, transform 0.2s ease;
    }
    .et-slide#experiences .experiences .experience .poste h3.visible{
        opacity: 1;
        transform: translate(0);
    }
    
    .et-slide#experiences .experiences .experience .poste h5{
        /********************** l'animation *******************************/
        opacity: 0;
        transform: translate(50px);
        transition: opacity 0.2s ease, transform 0.2s ease;
    }
    .et-slide#experiences .experiences .experience .poste h5.visible{
        opacity: 1;
        transform: translate(0);
    }
    
    .et-slide#experiences .experiences .experience .entreprise h5{
      font-weight: 500;
      margin-top: -15px;
      line-height: 1.1rem;
      letter-spacing: normal;
      text-align: start;
        /********************** l'animation *******************************/
        opacity: 0;
        transform: translate(50px);
        transition: opacity 0.2s ease, transform 0.2s ease;
      }
      .et-slide#experiences .experiences .experience .entreprise h5.visible{
        opacity: 1;
        transform: translate(0);
      }
    .et-slide#experiences .experiences .experience .entreprise img{
        width: 50px;
        height: 50px;
        background-color: #ffffff;
        padding: 3px;
        border-radius: 25%;
        box-shadow: 0 2px 10px rgba(15, 23, 42, 0.3);
        /********************** l'animation *******************************/
        opacity: 0;
        transform: scale(0);
        transition: opacity 0.2s ease, transform 0.2s ease;
        }
        .et-slide#experiences .experiences .experience .entreprise img.visible{
            opacity: 1;
            transform: scale(1);
            }

        /********************************************** lines **********************************/
        .et-slide#experiences .experience .poste .horizontal-line{
            background-color: rgba(15, 23, 4, 0.3); 
            box-shadow: 0px 1px 1px rgba(15, 23, 4, 0.3);
            height: 1px;
            position: relative;
            top: 60px;
            /********************** l'animation *******************************/
            opacity: 0;
            width: 0;
            transition: opacity 0.2s ease, width 0.2s ease;
          }
          .et-slide#experiences .experience .poste .horizontal-line.visible{
            opacity: 0.6;
            width: 470px;
          }

          .et-slide#experiences .right-experience .poste .horizontal-line{
            top: 63px;
             /********************** l'animation *******************************/
             opacity: 0;
             width: 0;
             transition: opacity 0.2s ease, width 0.2s ease;
          }
          .et-slide#experiences .right-experience .poste .horizontal-line.visible{
            opacity: 0.6;
            width: 400px;
          }

          .et-slide#experiences .experience .poste .vertical-line{
            background-color: rgba(15, 23, 4, 0.3); 
            box-shadow: 0px 1px 1px rgba(15, 23, 4, 0.3);
            height: 1px;
            position: relative;
            rotate: 90deg;
            top: 74px;
            left: 387px;
            width: 26px;
            /********************** l'animation *******************************/
            opacity: 0;
            transform: scaleX(0);
            transition: opacity 0.2s ease, transform 0.2s ease;
          }
          .et-slide#experiences .experience .poste .vertical-line.visible{
            opacity: 0.6;
            transform: scaleX(1);
          }

          .et-slide#experiences .experience .poste .horizontal-line-2{
            background-color: rgba(15, 23, 4, 0.3); 
            box-shadow: 0px 1px 1px rgba(15, 23, 4, 0.3);
            height: 1px;
            position: relative;
            top: 86px;
            right: 450px;
            width: 850px;
            /********************** l'animation *******************************/
            opacity: 0;
            transform: translateX(400px) scaleX(0);
            transition: opacity 0.2s ease, transform 0.2s ease;
          }
          .et-slide#experiences .experience .poste .horizontal-line-2.visible{
            opacity: 0.6;
            transform: translateX(0) scaleX(1);
          }

          .et-slide#experiences .experience .poste .vertical-line-2{
            background-color: rgba(15, 23, 4, 0.3); 
            box-shadow: 0px 1px 1px rgba(15, 23, 4, 0.3);
            height: 1px;
            position: relative;
            rotate: 90deg;
            top: 140px;
            left: -505px;
            width: 110px;
            /********************** l'animation *******************************/
            opacity: 0;
            transform: scaleX(0);
            transition: opacity 0.2s ease, transform 0.2s ease;
          }
          .et-slide#experiences .experience .poste .vertical-line-2.visible{
            opacity: 0.6;
            transform: scaleX(1);
          }

            /********************** fixed-background *******************************/
          .et-slide#experiences .fixed-background{
            margin-top: 4rem;
          }

        @media (max-width: 991px){
            .et-slide#experiences{
                padding: 0 1.5rem;
              }
                .et-slide#experiences .experiences .experience{
                    width: 330px;
                } 
                .et-slide#experiences .experiences .experience .entreprise img{
                  width: 50px;
                  height: 50px;
                }

                .et-slide#experiences .experiences .experience.right-experience{
                  margin-top: 42px;
                }
        /********************************************** lines **********************************/
        .et-slide#experiences .experience .poste .horizontal-line{
          top: 60px;
        }
        .et-slide#experiences .experience .poste .horizontal-line.visible{
          width: 400px;
        }

        .et-slide#experiences .right-experience .poste .horizontal-line{
            top: 65px;
        }
        .et-slide#experiences .right-experience .poste .horizontal-line.visible{
          width: 330px;
        }
        .et-slide#experiences .experience .poste .vertical-line{
          top: 88px;
          left: 305px;
          width: 48px;
        }

        .et-slide#experiences .experience .poste .horizontal-line-2{
          top: 108px;
          right: 380px;
          width: 709px;
        }
        .et-slide#experiences .experience .poste .vertical-line-2{
          top: 150px;
          left: -425px;
          width: 90px;
        }
    }

    @media (max-width: 767px){
      .et-slide#experiences .experiences{
        gap: 20px;
      }
  .et-slide#experiences .experiences .experience{
    width: 90%;
  }
      .et-slide#experiences .experiences .experience.right-experience{
        margin-top: 0;
      }
              /********************************************** lines **********************************/
              .et-slide#experiences .experience .poste .horizontal-line{
                display: none;
              }
              .et-slide#experiences .experience .poste .vertical-line{
                display: none;
              }
      
              .et-slide#experiences .experience .poste .horizontal-line-2{
                display: none;
              }
      
              .et-slide#experiences .experience .poste .vertical-line-2{
               display: none;
              }
    }