  /* Expériences Professionnelles */
  .et-slide#experiences{
    padding: 0 4rem;
  }
  .et-slide#experiences h1{
    margin: 80px auto 40px auto;
  }
  .et-slide#experiences .experiences{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 900px;
  }
  .et-slide#experiences .experiences .experience{
    width: 400px;
  }
  .et-slide#experiences .experiences .experience.right-experience{
    margin-top: 53px;
  }
  .et-slide#experiences .experiences .experience .poste{
    text-align: start;
    padding: 10px;
    
  }
  .et-slide#experiences .experiences .experience .entreprise{
    display: flex;
    align-items: center;
    gap: 20px;
    }
    .et-slide#experiences .experiences .experience .poste h3{
        text-align: start;
        color: #d7d783;
        /********************** l'animation *******************************/
        opacity: 0;
        transform: translate(50px);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }
    .et-slide#experiences .experiences .experience .poste h3.visible{
        opacity: 1;
        transform: translate(0);
    }
    
    .et-slide#experiences .experiences .experience .poste h5{
        /********************** l'animation *******************************/
        opacity: 0;
        transform: translate(50px);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }
    .et-slide#experiences .experiences .experience .poste h5.visible{
        opacity: 1;
        transform: translate(0);
    }
    
    .et-slide#experiences .experiences .experience .entreprise h5{
        letter-spacing: 0.1rem;
        line-height: 1.1rem;
        text-align: start;
        /********************** l'animation *******************************/
        opacity: 0;
        transform: translate(50px);
        transition: opacity 0.5s ease, transform 0.5s ease;
      }
      .et-slide#experiences .experiences .experience .entreprise h5.visible{
        opacity: 0.8;
        transform: translate(0);
      }
    .et-slide#experiences .experiences .experience .entreprise img{
        width: 70px;
        height: 70px;
        background-color: #ffffff;
        padding: 10px;
        border-radius: 25%;
        box-shadow: 0 0 2px 2px #808080;
        /********************** l'animation *******************************/
        opacity: 0;
        transform: scale(0);
        transition: opacity 0.5s ease, transform 0.5s ease;
        }
        .et-slide#experiences .experiences .experience .entreprise img.visible{
            opacity: 0.9;
            transform: scale(1);
            }

        /********************************************** lines **********************************/
        .et-slide#experiences .experience .poste .horizontal-line{
            background-color: #ffffff; 
            box-shadow: 0px 1px 2px #ffffff;
            height: 2px;
            position: relative;
            top: 80px;
            /********************** l'animation *******************************/
            opacity: 0;
            width: 0;
            transition: opacity 0.5s ease, width 0.5s ease;
          }
          .et-slide#experiences .experience .poste .horizontal-line.visible{
            opacity: 0.6;
            width: 470px;
          }

          .et-slide#experiences .right-experience .poste .horizontal-line{
            top: 85px;
             /********************** l'animation *******************************/
             opacity: 0;
             width: 0;
             transition: opacity 0.5s ease, width 0.5s ease;
          }
          .et-slide#experiences .right-experience .poste .horizontal-line.visible{
            opacity: 0.6;
            width: 400px;
          }

          .et-slide#experiences .experience .poste .vertical-line{
            background-color: #ffffff; 
            box-shadow: 0px 1px 2px #ffffff;
            height: 2px;
            position: relative;
            rotate: 90deg;
            top: 96px;
            left: 385px;
            width: 28px;
            /********************** l'animation *******************************/
            opacity: 0;
            transform: scaleX(0);
            transition: opacity 0.5s ease, transform 0.5s ease;
          }
          .et-slide#experiences .experience .poste .vertical-line.visible{
            opacity: 0.6;
            transform: scaleX(1);
          }

          .et-slide#experiences .experience .poste .horizontal-line-2{
            background-color: #ffffff; 
            box-shadow: 0px 1px 2px #ffffff;
            height: 2px;
            position: relative;
            top: 108px;
            right: 450px;
            width: 850px;
            /********************** l'animation *******************************/
            opacity: 0;
            transform: translateX(400px) scaleX(0);
            transition: opacity 0.5s ease, transform 0.5s ease;
          }
          .et-slide#experiences .experience .poste .horizontal-line-2.visible{
            opacity: 0.6;
            transform: translateX(0) scaleX(1);
          }

          .et-slide#experiences .experience .poste .vertical-line-2{
            background-color: #ffffff; 
            box-shadow: 0px 1px 2px #ffffff;
            height: 2px;
            position: relative;
            rotate: 90deg;
            top: 160px;
            left: -503px;
            width: 110px;
            /********************** l'animation *******************************/
            opacity: 0;
            transform: scaleX(0);
            transition: opacity 0.5s ease, transform 0.5s ease;
          }
          .et-slide#experiences .experience .poste .vertical-line-2.visible{
            opacity: 0.6;
            transform: scaleX(1);
          }

            /********************** fixed-background *******************************/
          .et-slide#experiences .fixed-background{
            margin-top: 4rem;
          }

        @media (max-width: 991px){
            .et-slide#experiences{
                padding: 0 1.5rem;
              }
                .et-slide#experiences .experiences .experience{
                    width: 330px;
                } 
                .et-slide#experiences .experiences .experience .entreprise img{
                  padding: 7px;
                  width: 50px;
                  height: 50px;
                }
                .et-slide#experiences .experiences .experience .entreprise h5{
                    line-height: 1rem;
                    letter-spacing: normal;
                }

                .et-slide#experiences .experiences .experience.right-experience{
                  margin-top: 42px;
                }
        /********************************************** lines **********************************/
        .et-slide#experiences .experience .poste .horizontal-line{
          top: 60px;
        }
        .et-slide#experiences .experience .poste .horizontal-line.visible{
          width: 400px;
        }

        .et-slide#experiences .right-experience .poste .horizontal-line{
            top: 65px;
        }
        .et-slide#experiences .right-experience .poste .horizontal-line.visible{
          width: 330px;
        }
        .et-slide#experiences .experience .poste .vertical-line{
          top: 88px;
          left: 305px;
          width: 48px;
        }

        .et-slide#experiences .experience .poste .horizontal-line-2{
          top: 108px;
          right: 380px;
          width: 709px;
        }
        .et-slide#experiences .experience .poste .vertical-line-2{
          top: 150px;
          left: -425px;
          width: 90px;
        }
    }

    @media (max-width: 767px){
      .et-slide#experiences .experiences{
        gap: 20px;
      }
  .et-slide#experiences .experiences .experience{
    width: 90%;
  }
      .et-slide#experiences .experiences .experience.right-experience{
        margin-top: 0;
      }
              /********************************************** lines **********************************/
              .et-slide#experiences .experience .poste .horizontal-line{
                display: none;
              }
              .et-slide#experiences .experience .poste .vertical-line{
                display: none;
              }
      
              .et-slide#experiences .experience .poste .horizontal-line-2{
                display: none;
              }
      
              .et-slide#experiences .experience .poste .vertical-line-2{
               display: none;
              }
    }