/* Formations et Certifications */
 .et-slide#formations .formations{
    width: 100%;
    display: flex;
    padding-bottom: 20px;
  } 
  .et-slide#formations .formations .formation-description{
    width: 50%;
  }
  .et-slide#formations .formations .formation-description .formation{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
  }
  .et-slide#formations .formations .formation-description .formation img{
    width: 150px;
    background-color: #ffffff;
    padding: 10px;
    opacity: 0.8;
  }
  .et-slide#formations .formations .formation-description h2, .et-slide#formations .formations .certificats h2{
    text-align: start;
    line-height: 2rem; 
    margin: 20px 0;
    opacity: 1;
    color: #C586C0;
  }
  .et-slide#formations .formations .formation-description h3{
    margin: 20px 0;
  }
  .et-slide#formations .formations .certificats{
    width: 50%;
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
  }
  .et-slide#formations .formations .certificats h2{
    width: 100%;
    text-align: center;
  }
  .et-slide#formations .formations .certificats a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    color: #ffffff;
    opacity: 0.7;
    transition: all 0.5s ease;
    line-height: 1rem;
    margin: 5px 0;
  }
  .et-slide#formations .formations .certificats img{
    width: 90%;
    margin-bottom: 10px;
  }
  .et-slide#formations .formations .certificats a span{
    color: #9CDCFE;
  }
  .et-slide#formations .formations .certificats a.visible:hover{
    opacity: 1;
    transition: all 0.5s ease;
  }
  /* animation */
  .et-slide#formations .formations .formation-description div, .et-slide#formations .formations .formation-description h3,.et-slide#formations .formations .certificats h2, .et-slide#formations .formations .certificats a{
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease, transform 1s ease;
  }
  .et-slide#formations .formations .formation-description div.visible, .et-slide#formations .formations .certificats h2.visible{
    opacity: 1;
    transform: translateY(0);
  }
  .et-slide#formations .formations .formation-description h3.visible, .et-slide#formations .formations .certificats a.visible{
    opacity: 0.7;
    transform: translateY(0);
  }

  @media (max-width: 991px){
     /* Formations et Certifications */
     .et-slide#formations .formations .formation-description{
      width: 40%;
    }
     .et-slide#formations .formations .formation-description .formation img{
        width: 100px;
        padding: 7px;
      }
      .et-slide#formations .formations .certificats{
        width: 60%;
        padding-left: 20px;
      }
      .et-slide#formations .formations .certificats a{
        opacity: 0.8;
      }
      .et-slide#formations .formations .certificats a:hover{
        opacity: 0.8;
      }
  }
  @media (max-width: 767px){
    /* Formations et Certifications */
 .et-slide#formations .formations{
  flex-direction: column;
}
.et-slide#formations .formations .formation-description{
 width: 100%;
}
.et-slide#formations .formations .formation-description .formation img{
  width: 80px;
}
.et-slide#formations .formations .certificats{
  width: 100%;
  padding-left: 0;
}
.et-slide#formations .formations .certificats a{
  width: 45%;
}
  }