/* Formations et Certifications */
 .et-slide#formations .formations{
  font-family: "Roboto", serif;
    display: flex;
    padding-bottom: 20px;
  } 
  .et-slide#formations .formations .formation-description{
    width: 50%;
  }
  .et-slide#formations .formations .formation-description .formation{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
  }
  .et-slide#formations .formations .formation-description .formation img{
    width: 150px;
    background-color: #ffffff;
    padding: 10px;
    opacity: 0.8;
  }
  .et-slide#formations .formations .formation-description h3{
    margin: 20px 0;
    font-weight: 500;
  }

/* Section des certifications */

.et-slide#formations .formations .certificats{
  width: 50%;
  padding-left: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-around;
}
.et-slide#formations .formations .formation-description h2, .et-slide#formations .formations .certificats h2{
  text-align: start;
  line-height: 2rem; 
  margin: 20px 0;
  opacity: 1;
  color: #C586C0;
}
.et-slide#formations .formations .certificats h2{
  width: 100%;
}
.et-slide#formations .formations .certificats .certificat-item {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin: 7px 0;
}

.et-slide#formations .formations .certificats .certificat-item img{
  width: 40px;
  background-color: #ffffff;
  box-shadow: -2px -2px 4px #808080;
  padding: 3px;
  border-radius: 25%;
}
.et-slide#formations .formations .certificats .certificat-item h6{
  text-align: start;
}
.et-slide#formations .formations .certificats .certificat-item h6 span{
  text-decoration: underline;
  text-underline-offset: 5px;
  font-size: 13px;
}
.et-slide#formations .formations .certificats .certificat-item.visible:hover{
  opacity: 1;
  transition: all 0.5s;
}
.et-slide#formations .formations .certificats .certificat-item.visible:hover h6{
  color: #9CDCFE;
}
.et-slide#formations .formations .certificats .certificat-item.visible:hover h6 span{
  text-decoration: none;
  color: #ffffff;
  text-shadow: -1px 1px 2px #808080;
  transition: all 0.5s;
}
/* .et-slide#formations .formations .certificats .certificat-item {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  width: 30%;
  color: #63B3ED;
  line-height: 1rem;
  margin: 10px 0;
  text-decoration: underline;
  text-underline-offset: 3px;
  font-weight: 500;
}
.et-slide#formations .formations .certificats .certificat-item small{
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: #ffffff;
}
.et-slide#formations .formations .certificats .certificat-item small i{
  position: absolute;
  box-shadow: -2px -2px 2px #ffffff;
  background-color: #0a192f;
  color: #C586C0;
  padding: 5px;
  border-radius: 20%;
  font-size: 20px;
  top: 42px;
  left: 56%;
}
.et-slide#formations .formations .certificats .certificat-item img{
  opacity: 0.9;
  width: 70px;
  background-color: #ffffff;
  box-shadow: -2px -2px 4px #808080;
  padding: 7px;
  border-radius: 25%;
}
.et-slide#formations .formations .certificats .certificat-item.visible:hover{
  color: #C586C0;
  text-decoration: none;
  opacity: 1;
} */

/* Modale */
.certificat-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 25, 47, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none; /* Caché par défaut */
}

.certificat-modal .modal-content {
  position: relative;
}

.certificat-modal img {
  max-width: 50%;
  max-height: 50%;
  border-radius: 10px;
}

.certificat-modal .close-modal {
  position: absolute;
  font-weight: bold;
  top: -10px;
  right: 18%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 1px 1px 6px #ffffff;
  transition: all 0.3s ease;
}
.certificat-modal .close-modal:hover {
  color: #C586C0;
  box-shadow: 1px 1px 6px #C586C0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease;
}


  /***************************************** animation *********************************/
.et-slide#formations .formations .certificats h2, .et-slide#formations .formations .formation-description div{
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s ease, transform 1s ease;
  }
 .et-slide#formations .formations .certificats h2.visible, .et-slide#formations .formations .formation-description div.visible{
    opacity: 1;
    transform: translateX(0);
  }

  .et-slide#formations .formations .formation-description h3{
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1s ease, transform 1s ease;
  }
  .et-slide#formations .formations .formation-description h3.visible{
    opacity: 0.7;
    transform: scaleX(1);
  }

  .et-slide#formations .formations .certificats .certificat-item{
    opacity: 0;
    transform: scale(0);
    transition: opacity 1s ease, transform 1s ease;
  }
  .et-slide#formations .formations .certificats .certificat-item.visible{
    opacity: 0.9;
    transform: scale(1);
  }  

  @media (max-width: 991px){
     /* Formations et Certifications */
    /*  .et-slide#formations .formations .formation-description{
      width: 40%;
    } */
    .et-slide#formations .formations .certificats{
     /*  width: 60%; */
      padding-left: 20px;
    }
     .et-slide#formations .formations .formation-description .formation img{
        width: 100px;
        padding: 7px;
      }
  }
  @media (max-width: 767px){
    /* Formations et Certifications */
      .et-slide#formations .formations{
        flex-direction: column;
      }
      .et-slide#formations .formations .formation-description{
      width: 100%;
      }
    /*   .et-slide#formations .formations .formation-description .formation img{
        width: 80px;
      } */
      .et-slide#formations .formations .certificats{
        width: 100%;
        padding-left: 0;
      }
      /* .et-slide#formations .formations .certificats .certificat-item{
        width: 45%;
      }.et-slide#formations .formations .certificats .certificat-item img{
        width: 50px;
        padding: 5px;
      }
      .et-slide#formations .formations .certificats .certificat-item small i{
        box-shadow: -1px -1px 2px #ffffff;
        padding: 4px;
        font-size: 16px;
        top: 27px;
        left: 51%;
      }  */
      .certificat-modal img {
        max-width: 90%;
        max-height: 90%;
      }
      .certificat-modal .close-modal {
        top: -50px;
        right: 5%;
      }
  }