*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
}
body {
    font-family: "Lucida Console", "Courier New", monospace;
}
a {
    text-decoration: none;
}
/****************************** background header **********************************/
.slideshow {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.slideshow-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: no-repeat 50% 50%;
    background-size: cover;
    animation-name: kenburns;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    opacity: 1;
    transform: scale(1.2);
}
.slideshow-image::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: #0a192f;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }
.slideshow-image:nth-child(1) {
    animation-name: kenburns-1;
    z-index: 3;
}
.slideshow-image:nth-child(2) {
    animation-name: kenburns-2;
    z-index: 2;
}
.slideshow-image:nth-child(3) {
    animation-name: kenburns-3;
    z-index: 1;
}
.slideshow-image:nth-child(4) {
    animation-name: kenburns-4;
    z-index: 0;
}
@keyframes kenburns-1 {
    0% {
        opacity: 1;
        transform: scale(1.2);
   }
    1.5625% {
        opacity: 1;
   }
    23.4375% {
        opacity: 1;
   }
    26.5625% {
        opacity: 0;
        transform: scale(1);
   }
    100% {
        opacity: 0;
        transform: scale(1.2);
   }
    98.4375% {
        opacity: 0;
        transform: scale(1.2117647059);
   }
    100% {
        opacity: 1;
   }
}
@keyframes kenburns-2 {
    23.4375% {
        opacity: 1;
        transform: scale(1.2);
   }
    26.5625% {
        opacity: 1;
   }
    48.4375% {
        opacity: 1;
   }
    51.5625% {
        opacity: 0;
        transform: scale(1);
   }
    100% {
        opacity: 0;
        transform: scale(1.2);
   }
}
@keyframes kenburns-3 {
    48.4375% {
        opacity: 1;
        transform: scale(1.2);
   }
    51.5625% {
        opacity: 1;
   }
    73.4375% {
        opacity: 1;
   }
    76.5625% {
        opacity: 0;
        transform: scale(1);
   }
    100% {
        opacity: 0;
        transform: scale(1.2);
   }
}
@keyframes kenburns-4 {
    73.4375% {
        opacity: 1;
        transform: scale(1.2);
   }
    76.5625% {
        opacity: 1;
   }
    98.4375% {
        opacity: 1;
   }
    100% {
        opacity: 0;
        transform: scale(1);
   }
}

/********************************** content header *******************************************/
.presentation{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 4;
    width: 60%;
    height: 60%;
    padding: 1em;
    top: 10%;
    left: 20%;
    box-shadow: 0 1em 2em -1em rgba(255, 255, 255, 0.5);
}
 .presentation h1 {
    text-align: center;
    border-radius: 5px;
    color: #FFEB3B;
    letter-spacing: 0.2rem;
    line-height: 1.7rem;
}
.presentation h1 small{
    display: block;
    letter-spacing: 0.2rem;
    color: #ffffff;
}
.presentation h2{
    margin: 5px 0;
    text-align: center;
    width: 90%;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    color: #ffffff;
    opacity: 0.7;
    line-height: 1.7rem;
}
.presentation h1 small:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, .25);
    padding-bottom: 0.5em;
}
.presentation h1 small:last-child {
    border-top: 1px solid rgba(0, 0, 0, .25);
    padding-top: 0.5em;
}

/****************************** boutton cv **************************************************/
.btn-profil {
  padding: 12px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #ffffff;
  border-radius: 5px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #9CDCFE;
  background-image: linear-gradient(45deg, #000000 0%, #9CDCFE  51%, #000000  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-profil:hover {
  background-position: right center;
  color: #FFEB3B;
  /* change the direction of the change here */
  text-decoration: none;
}

.btn-profil:active {
  transform: scale(0.95);
}

/********************************************* social media header ************************************/
.social-media{
    z-index: 4;
    position: absolute;
    left: 0;
    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.social-media a{
    text-align: center;
    color: rgb(100, 100, 100);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0 5px 5px 0;
    padding: 10px;
    width: 40px;
    transition: all 0.5s;
}
.social-media a:hover{
  width: 50px;
  background-color: #1E1E1E;
  box-shadow: 0 1em 2em -1em rgba(255, 255, 255, 0.5);
  color: rgb(171, 171, 171);
}

@media (max-width: 991px){
    .presentation{
        left: 10%;
        width: 80%;
    }
    .social-media a{
        display: none;
    }
}
@media (max-width: 767px){
    .presentation h1{
        font-size: 1.4rem;
        line-height: 1.4rem;
    }
    .presentation h2{
        font-size: 1rem;
        line-height: 1rem;
    }
    .presentation, .btn-profil{
        font-size: 0.7rem;
        padding: 8px 15px;
    }
}


