
/*********************************** Conteneur défilable horizontal *******************************/
.et-slide#portfolio h3{
 margin-bottom: 2em;
}
.et-slide#portfolio h2.project-title{
  opacity: 1;
  color: #FFEB3B;
  line-height: 2rem;
  margin: 15px auto;
}
.et-slide#portfolio h2.project-title span{
  color: #C586C0;
}
.et-slide#portfolio .horizontal-scroll {
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 25px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
}

/* Masquer la barre de défilement */
.et-slide#portfolio .horizontal-scroll::-webkit-scrollbar {
  display: none; /* Masque la scrollbar */
}
/* Style des projets */
.et-slide#portfolio .project {
  background-color: #0a192f;
  flex-shrink: 0;
  width: 100%;
  max-width: 450px; /* Largeur fixe pour chaque projet */
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease;
}

.et-slide#portfolio .project img, .et-slide#portfolio .project video {
  background: linear-gradient(0deg, #111111 0%, #000000 100%);
  padding: 10px;
  max-width: 85%;
  border-radius: 10px 10px 0 0;
}

.et-slide#portfolio .project .support-1{
  height: 8px;
  width: 100%;
  border-radius: 5px 5px 200px 200px;
  background: linear-gradient(0deg, #000000 0%, #C0C0C0 60%, #ffffff  100%);
}
.et-slide#portfolio .project .support-2{
  margin: 0  auto 20px auto;
  height: 2px;
  width: 95%;
  border-radius: 0 0 200px 200px;
  background-color: #000000;
  box-shadow: -4px 2px 5px rgba(102, 102, 102, 0.5);
}

.et-slide#portfolio .horizontal-scroll .project h2{
  color: #FFEB3B;
  opacity: 0.9;
  font-size: 1.3em;
  line-height: 1.5rem;
  margin: 1.3em auto;
}
.et-slide#portfolio .horizontal-scroll .project h5{
  opacity: 0.8;
  line-height: 1.3rem;
}
/********************************************* github-links ***********************************/
.et-slide#portfolio .github-links {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px auto;
}

.et-slide#portfolio .github-links a {
  color: #63B3ED;
  padding: 5px;
  text-decoration: underline;
  text-underline-offset: 3px;
  letter-spacing: 0.1rem;
  display: inline-block;
  transition: all 0.3s ease;
}
.et-slide#portfolio .github-links a i{
  color: #B0BEC5;
}
.et-slide#portfolio .github-links a:hover {
  color: #C586C0;
  text-decoration: none;
}
/************************************** Boutons de démonstration **********************************/
.et-slide#portfolio .project p {
  border-radius: 5px;
  letter-spacing: 0.1rem;
  padding: 10px 0;
  margin: 10px auto;
  width: 60%;
  color: #63B3ED;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 3px #63B3ED;
  cursor: pointer;
}
.et-slide#portfolio .project p i{
  color: #B0BEC5;
}
.et-slide#portfolio .project p:hover{
  color: #C586C0;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 1px 3px #C586C0;
  transition: all 0.5s ease;
}
.et-slide#portfolio .project p a{
  color: #63B3ED;
  padding: 10px 40px;
}
.et-slide#portfolio .project p a i{
  color: #B0BEC5;
}
.et-slide#portfolio .project p a:hover{
  color: #C586C0;
  transition: all 0.5s ease;
}
/************************************** Boutons de scroll *****************************/
.et-slide#portfolio .scroll-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  z-index: 1;
  transform: translateY(-50%); /* Ajustement pour centrer précisément */
  pointer-events: none; /* Empêche d'interférer avec le contenu */
  position: relative;
  top: 170px;
}
.et-slide#portfolio .scroll-buttons button {
  pointer-events: all; /* Réactiver l'interaction pour les boutons */
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  color: #63B3ED;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 2px 2px #63B3ED;
  transition: all 0.3s ease;
}

.et-slide#portfolio .scroll-buttons button:hover {
  color: #C586C0;
  box-shadow: 0 2px 2px #C586C0;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.3s ease;
}
.et-slide#portfolio .scroll-buttons-part-1, .et-slide#portfolio .scroll-buttons-part-2{
  display: none;
}
/********************************* vidéo modal **********************************/
.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(	10,	25,	47, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none; /* Caché par défaut */
}

.video-modal video {
  max-width: 90%;
  max-height: 90%;
  border: 2px solid #1E1E1E ;
  box-shadow: 1px 1px 6px #ffffff;
  border-radius: 10px;
}

.video-modal .close-video{
  position: absolute;
  top: 20px;
  right: 50px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 1px 1px 6px #ffffff;
  transition: all 0.3s ease;
}
.video-modal .close-video:hover {
  color: #C586C0;
  box-shadow: 1px 1px 6px #C586C0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease;
}
/********************** l'animation *******************************/
.et-slide#portfolio h3{
  opacity: 0;
  transition: opacity 1s ease;
}
.et-slide#portfolio h3.visible{
  opacity: 0.7;
}
.et-slide#portfolio h2.project-title{
  opacity: 0;
  transform: scaleY(0.5) translateY(-50px);
  transition: opacity 1s ease, transform 1s ease;
}
.et-slide#portfolio h2.project-title.visible{
  opacity: 1;
  transform:scaleY(1) translateY(0);
}

.et-slide#portfolio .project{
  opacity: 0;
  transform: scaleX(0.5) translateX(-120px);
  transition: opacity 1s ease, transform 1s ease;
}
.et-slide#portfolio .project.visible{
  opacity: 1;
  transform: scaleX(1) translateX(0);
}

@media (max-width: 1220px) {
  .et-slide#portfolio .scroll-buttons-part-1, .et-slide#portfolio .scroll-buttons-part-2{
    display: flex;
  }
}
@media (max-width: 767px) {
  .et-slide#portfolio .project {
    width: 90%; /* Ajustement pour écrans plus petits */
  }
  .et-slide#portfolio .project .support-1, .et-slide#portfolio .project .support-2{
    display: none;
  }
  .et-slide#portfolio .project img, .et-slide#portfolio .project video{
    border-radius: 10px;
  }
  .et-slide#portfolio .horizontal-scroll .project h2{
    font-size: 1em;
  }
  .et-slide#portfolio .project p, .et-slide#portfolio .github-links{
    font-size: 0.7em;
    width: 100%;
  }
  .et-slide#portfolio .github-links a {
    letter-spacing: 0;
  }
  .et-slide#portfolio .scroll-buttons {
    display: none;
  }
  
.et-slide#portfolio h2.project-title{
  margin: 10px 0;
  font-size: 1em;
}
.video-modal .close-video{
  top: 200px;
}
}


